[run]
source = .  # Onde buscar os arquivos para análise (diretório atual)
omit =
    */migrations/*
    */static/*
    */templates/*
    */venv/*
    */admin.py
    */apps.py
    */settings.py
    */urls.py
    */wsgi.py
    */asgi.py
    manage.py
    *tests.py  # Exclui os próprios arquivos de teste da cobertura
    # Adicione aqui outros diretórios ou arquivos que você queira ignorar
plugins =
    django_coverage_plugin

[report]
show_missing = True
# Se quiser um limite mínimo de cobertura para falhar o build
# fail_under = 80
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    if settings.DEBUG:

[html]
directory = coverhtml  # Onde o relatório HTML será gerado